@charset "utf-8";

.container {
  border: 8px solid blue;
  display: flex;
}

.item-1 {
  width: 80px;
  height: 80px;
  background-color: pink;
  align-self: center;
}

.item-2 {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  order: 1;
}

.item-3 {
  width: 80px;
  height: 80px;
  background-color: orange;
}

.item-4 {
  width: 80px;
  height: 80px;
  background-color: silver;
}

.item-5 {
  width: 80px;
  height: 80px;
  background-color: tomato;
}